@import "tailwindcss";

body {
  background-image: url("./Weather-App-React/images/bg1.jpeg");
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;

  border: 20px solid;
  width: 100%;
  height: 100vh;
  min-width: fit-content;
}

/* .container {
  display: flex;
  justify-content: center;
  height: 30rem;
  width: 50%;
  margin: 100px auto;
  background-color: rgb(46, 47, 48);
  border-radius: 20px;
} */

.wrapper {
  background-image: url("./Weather-App-React/images/bg2.jpeg");
}
